[Unit]
Description=Data API, makes data in mysql accessible
After=network.target

[Service]
WorkingDirectory=/opt/DataAPI/deployment/
SyslogIdentifier=DataAPI
ExecStart=/bin/sh -c "exec sudo java -jar /opt/DataAPI/deployment/data_api-0.0.1-SNAPSHOT.jar"
User=root
Type=simple

[Install]
WantedBy=multi-user.target